* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px dotted lightgrey;

  font-size: 20px;
  width: calc(1em * 1.3);
  height: calc(1em * 1.3);
}

[data-type="rock"] {
  background-image: url('/rock.svg');
}

[data-type="paper"] {
  background-image: url('/paper.svg');
}

[data-type="scissors"] {
  background-image: url('/scissors.svg');
}

.counts {
  display: flex;
  justify-content: space-around;
}

.counts > * {
  display: flex;
  align-items: center;
}

.counts [data-type] {
  width: 2em;
  height: 2em;
}