* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px dotted lightgrey;
  font-size: 24px;
  width: 1.2em;
  height: 1.2em;
  
}
